/*
* Created by Euter Pádua - euterpadua@gmail.com
*/

/**
* CH01 - Resets
* CH02 - Typography
* CH03 - Page Structure
* CH04 - Header & Navigation
* CH05 - Content & Media
* CH06 - Table & Lists
* CH07 - Miscellaneous
* CH08 - Footer
* CH09 - Update CSS - Move
**/

/*//-------------------------------------------------------------------------------------------*/
/*// Resets                                                                                    */
/*//-------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*//-------------------------------------------------------------------------------------------*/
/*// Typography                                                                                */
/*//-------------------------------------------------------------------------------------------*/

* {
  font-family: 'Lobster', cursive;
}

/*//-------------------------------------------------------------------------------------------*/
/*// Page Structure                                                                            */
/*//-------------------------------------------------------------------------------------------*/
body {
  background-color: #c7aa9a ;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*//-------------------------------------------------------------------------------------------*/
/*// Header & Navigation                                                                       */
/*//-------------------------------------------------------------------------------------------*/

/*Buttons*/
.btn {
  float: left;
  display: inline-block;
  border-radius: 25px;
  color: #000;
  font-size: 1em;
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  background: #c9800f;
  border:solid 1px #333333;
  box-shadow: 2px 2px 2px #888;
  transition: 0.5s;
}

.btn:hover{
  color: #fff;
  height: 100px;
  background: #a73904;
  box-shadow: 3px 3px 4px #000;
  padding-top: 48px;
}

/*//-------------------------------------------------------------------------------------------*/
/*// Content & Media                                                                           */
/*//-------------------------------------------------------------------------------------------*/

/*//-------------------------------------------------------------------------------------------*/
/*// Tables & Lists                                                                            */
/*//-------------------------------------------------------------------------------------------*/

/*//-------------------------------------------------------------------------------------------*/
/*// Miscelaneous                                                                              */
/*//-------------------------------------------------------------------------------------------*/

/*//-------------------------------------------------------------------------------------------*/
/*// Footer                                                                                    */
/*//-------------------------------------------------------------------------------------------*/

/*//-------------------------------------------------------------------------------------------*/
/*// Update CSS - Move                                                                         */
/*//-------------------------------------------------------------------------------------------*/
